html
  head
    title= title
  body
    p= workDir
    p= args
    pre= env
    a(href="/exit/0")='normal exit'
    br
    a(href="/exit/1")='error exit'
    br
    a(href="/error/test error")='test error'